@darkGreen: #1f5d5e;
@fluoGreen: #9ce451;
@green: #25b386;
@slateGreen: #4cb3a0;
@lightBlue: #cce1f4;
@white: #ffffff;

body {
  height: 100vh;
  margin: 0;
  background: @lightBlue;
  color: @darkGreen;
  padding: 90px 0 60px;
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
}

.cont {
  width: 330px;
  margin: 0 auto;
}
