body {
  height: 100vh;
  margin: 0;
  background: #cce1f4;
  color: #1f5d5e;
  padding: 90px 0 60px;
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
}
.cont {
  width: 330px;
  margin: 0 auto;
}
